<div class="card card-app">
  <div class="card-body">
    <h2 class="card-title">Crear producto</h2>

    <p>Complete los siguientes campos para el registro del producto.</p>

    <div class="container-form-app">
      <form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row m-0">
          <div class="col-12 col-md-6 mb-3">
            <label for="name" class="form-label">
              Producto
              <span class="required">*</span>
            </label>
            <input type="text" class="form-control"
                 formControlName="name" id="name">
            @if (productForm.get('name')?.touched && productForm.get('name')?.hasError('required')) {
              <span class="text-danger fw-bold w-100" style="font-size: 0.9rem">
                Ingrese el nombre del producto.
              </span>
            }
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="description" class="form-label">
              Descripción
              <span class="required">*</span>
            </label>
            <input type="text" class="form-control" formControlName="description" id="description">
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="category_id" class="form-label">
              Categoria
              <span class="required">*</span>
            </label>
            <select class="form-select" id="category_id" formControlName="category_id">
              <option value selected>--Seleccione--</option>
            </select>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="brand_id" class="form-label">
              Marca
              <span class="required">*</span>
            </label>
            <select class="form-select" id="brand_id" formControlName="brand_id">
              <option value selected>--Seleccione--</option>
            </select>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="quantity" class="form-label">
              Cantidad
              <span class="required">*</span>
            </label>
            <input type="number" class="form-control" id="quantity" formControlName="quantity" min="0" pattern="[0-9]">
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="price" class="form-label">
              Precio por unidad
              <span class="required">*</span>
            </label>
            <input type="number" class="form-control" id="price" formControlName="price">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-form-app rounded px-4">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
