<div class="card card-app">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="card-title">Categorías</h2>

      <a class="btn btn-primary btn-app" (click)="newCategory()">Crear categoría</a>
    </div>

<!--    <div class="card card-app mb-5">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Filtros</h5>-->
<!--        <div class="row m-0 container-form-app">-->
<!--          <div class="col-12">-->
<!--            <label for="category_name" class="form-label">-->
<!--              Categoría-->
<!--            </label>-->
<!--            <input type="text" class="form-control" id="category_name" [(ngModel)]="categoryFilter" (input)="applyFilterCategories()">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    @if (categories.length > 0) {
      <app-grid [displayedColumns]="displayedColumns" [headers]="headers" [data]="categories"
           [sortableColumns]="sortables" (gridAction)="getAction($event)"/>
    }
  </div>
</div>
