<h2 class="modal-title-app">
  <span>{{ table.name }}</span>
</h2>

<mat-dialog-content>
  <div class="row m-0">
    <div class="col-12 col-md-4">
      <p class="mb-0 label-info">Estado actual:</p>
      <p class="field-info mb-0 fw-bold {{table.available == 1 ? 'text-success' : 'text-danger'}}">
        {{table.available == 1 ? 'Disponible' : 'Ocupada'}}
      </p>
    </div>
    <div class="col-12 col-md-4">
      <p class="mb-0 label-info">Atendido por:</p>
      <p class="field-info mb-0">Disponible</p>
    </div>
    <div class="col-12 col-md-4">
      <p class="mb-0 label-info">Estado actual:</p>
      <p class="field-info mb-0">Disponible</p>
    </div>
  </div>

  <hr class="my-4">

  <form [formGroup]="saleForm" novalidate>
    <div class="container-form-app">
      <form [formGroup]="productsListForm" novalidate (submit)="addProductToList()">
        <div class="row m-0">
          <div class="col-12 col-md-5">
            <label for="id" class="form-label">
              Producto
              <span class="required">*</span>
            </label>
            <select class="form-select" id="id" formControlName="id" required>
              <option value="" selected>--Seleccione--</option>
              @for (product of products; track $index) {
                <option [ngValue]="product.id">{{ product.name + ' - Disponible: ' + product.quantity }}</option>
              }
            </select>
            @if (productsListForm.get('id')?.touched && productsListForm.get('id')?.hasError('required')) {
              <span class="error-field">
                Seleccione un producto.
              </span>
            }
          </div>
          <div class="col-12 col-md-5">
            <label for="quantity" class="form-label">
              Cantidad
              <span class="required">*</span>
            </label>
            <input type="number" class="form-control" id="quantity" formControlName="quantity" min="1" required>
            @if (productsListForm.get('quantity')?.touched && productsListForm.get('quantity')?.hasError('required')) {
              <span class="error-field">
                Ingrese una cantidad.
              </span>
            }
            @if (productsListForm.get('quantity')?.touched && productsListForm.get('quantity')?.hasError('min')) {
              <span class="error-field">
                Minimo de 1 en adelante.
              </span>
            }
          </div>
          <div class="col-12 col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary btn-form-app rounded px-4">Agregar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="table-responsive mt-4">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Valor total producto</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @for (product of productsSale; track $index) {
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ getProductName(product.id) }}</td>
              <td>35000</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </form>
</mat-dialog-content>
