@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.wrapper-container {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 100%;
    padding-left: 270px;
  }
}

.spinner-fadeOut {
  //opacity: 0;
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; display: none }
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; display: none }
}
