@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.wrapper-container {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 100%;
    padding-left: 270px;
  }
}
