<nav class="navbar navbar-expand-lg border-bottom px-4 mb-4 container-fluid">
  <div class="shift-container {{shiftStatus ? 'shift-started' : ''}} me-auto d-flex align-items-center">
    <a class="btn-shift" (click)="shiftStatus ? closeShift() : startShift()">
      <i class="fa-solid {{shiftStatus ? 'fa-toggle-on' : 'fa-toggle-off'}}"></i>
    </a>
    <p class="status-shift">
      Estado actual:
      @if (shiftStatus) {
        Turno iniciado - <span class="fw-bold">{{startDate}}</span>
      } @else {
        Fuera de turno
      }
    </p>
  </div>
  <ul class="navbar-nav mb-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle avatar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user-circle"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <div class="user-info">
          <i class="fa-solid fa-user-circle user-image"></i>
          <p class="user-name">Juan Rojas</p>
        </div>

        <a href="#" class="dropdown-item">
          <i class="fas fa-user"></i>
          Mi pérfil
        </a>
        <a class="dropdown-item" (click)="logout()">
          <i class="fas fa-power-off"></i>
          Cerrar sesión
        </a>
      </ul>
    </li>
  </ul>
</nav>
