<div class="sidebar-nav-wrapper">
    <ul class="sidebar-nav-menu" id="accordionMenu">
      <li class="sidebar-nav-menu-item">
        <a class="sidebar-nav-menu-link">
          <i class="fas fa-tachometer-alt icon"></i>
          Dashboard
        </a>
      </li>
      <li class="sidebar-nav-menu-item parent-submenu">
        <a class="sidebar-nav-menu-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fas fa-dolly-flatbed icon"></i>
          Productos
          <i class="fas fa-angle-left icon-toggle-submenu"></i>
        </a>
        <ul id="collapseOne" class="sidebar-nav-submenu collapse" data-bs-parent="#accordionMenu">
          <li class="sidebar-nav-submenu-item">
            <a routerLink="/admin/products/categories" class="sidebar-nav-submenu-link">
              <span class="icon">C</span>
              Categorias
            </a>
          </li>
          <li class="sidebar-nav-submenu-item">
            <a routerLink="/admin/products/create" class="sidebar-nav-submenu-link">
              <span class="icon">G</span>
              Crear producto
            </a>
          </li>
          <li class="sidebar-nav-submenu-item">
            <a routerLink="/admin/products" class="sidebar-nav-submenu-link">
              <span class="icon">G</span>
              Lista de productos
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-nav-menu-item">
        <a class="sidebar-nav-menu-link">
          <i class="fas fa-users icon"></i>
          Usuarios
        </a>
      </li>
      <li class="sidebar-nav-menu-item">
        <a class="sidebar-nav-menu-link">
          <i class="fa-solid fa-money-check-dollar icon"></i>
          Ventas
        </a>
      </li>
    </ul>
</div>
