<div class="card card-app">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="card-title">Lista de productos</h2>

      <a class="btn btn-primary btn-app" (click)="newProduct()">Crear producto</a>
    </div>

<!--    <div class="card card-app mb-5">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Filtros</h5>-->
<!--        <div class="row m-0 container-form-app">-->
<!--          <div class="col-12 col-md-6">-->
<!--            <label for="name" class="form-label">-->
<!--              Producto-->
<!--            </label>-->
<!--            <input type="text" class="form-control" id="name" [(ngModel)]="nameFilter" (input)="applyFilter()">-->
<!--          </div>-->
<!--          <div class="col-12 col-md-6">-->
<!--            <label for="category_id" class="form-label">-->
<!--              Categoria-->
<!--            </label>-->
<!--            <select class="form-select" id="category_id" [(ngModel)]="categoryFilter" (change)="applyFilter()">-->
<!--              <option value selected>&#45;&#45;Seleccione&#45;&#45;</option>-->
<!--              @for ( category of categories; track category.id ) {-->
<!--                <option [ngValue]="category.id">{{category.name}}</option>-->
<!--              }-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    @if (products.length > 0) {
      <app-grid [displayedColumns]="displayedColumns" [headers]="headers" [data]="products"
         [sortableColumns]="sortables" (gridAction)="getAction($event)"/>
    }
  </div>
</div>
