.login-container {
  background-color: #f3f3f3;

  .btn-primary {
    background-color: #243f52;
    border-color: #243f52;
  }

  .bg-primary {
    background: linear-gradient(to right, #243f52, #0d121d);
  }
}
