<div class="login-container d-flex justify-content-center align-items-center w-100 h-100">
  <div class="container-md">
    <div class="row m-0 justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Iniciar sesión</h1>
              <p class="text-body-secondary">Inicia sesión en tu cuenta</p>

              <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <div class="input-group mb-3 has-validation">
                  <span class="input-group-text">&#64;</span>
                  <input matInput type="email" id="email" formControlName="email" class="form-control"
                         placeholder="Correo electronico" autocomplete="off" required>
                  @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')) {
                    <span class="text-danger fw-bold w-100" style="font-size: 0.9rem">
                      Por favor ingrese un correo electrónico valido.
                    </span>
                  }
                  @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
                    <span class="text-danger fw-bold w-100" style="font-size: 0.9rem">
                      Por favor ingrese un correo electrónico.
                    </span>
                  }
                </div>
                <div class="input-group mb-3 has-validation">
                  <span class="input-group-text">&#64;</span>
                  <input matInput type="password" id="password" formControlName="password" class="form-control"
                         placeholder="Contraseña" autocomplete="off" required>
                  @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')) {
                    <span class="text-danger fw-bold w-100" style="font-size: 0.9rem">
                      La contraseña debe tener al menos 6 caracteres.
                    </span>
                  }

                  @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
                    <span class="text-danger fw-bold w-100" style="font-size: 0.9rem">
                      Por favor ingrese una contraseña.
                    </span>
                  }
                </div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <button type="submit" class="btn btn-primary rounded px-4">Ingresar</button>
                  </div>
                  <div class="col-12 col-md-6"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white bg-primary py-5">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
