/* You can add global styles to this file, and also import other style files */
/**
    Typography
 */

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url('../public/assets/fonts/Montserrat-Regular.otf') format('opentype');
}

/* Montserrat Light */
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Light'), url('../public/assets/fonts/Montserrat-Light.otf') format('opentype');
}

/* Montserrat Bold */
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Bold'), url('../public/assets/fonts/Montserrat-Bold.otf') format('opentype');
}

/* Montserrat Black */
@font-face {
  font-family: 'Montserrat Black';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Black'), url('../public/assets/fonts/Montserrat-Black.otf') format('opentype');
}

/* Montserrat Medium */
@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Medium'), url('../public/assets/fonts/Montserrat-Medium.otf') format('opentype');
}

@import "variables";

@import "bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

html, body {
  width: 100%;
  height: 100%;
  font-family: $font-family-sans-serif;
}

body {
  background-color: #f3f4f7;
}

/*
  Card styles
 */
.card-app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
  -webkit-box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
  border: none;
  width: 100%;

  .card-body {
    padding: 1.5rem 1.5rem;

    .card-title {
      font-family: "Montserrat Bold", sans-serif;
      margin-bottom: 1.2rem;
    }
  }
}

/*
  Form styles
 */
.container-form-app {
  .form-label {
    font-family: "Montserrat Bold", sans-serif;
    color: $color-label;
    font-size: 0.9rem;

    .required {
      color: $required-label !important;
      font-size: 1rem;
    }
  }

  .btn-form-app {
    font-family: "Montserrat Bold", sans-serif;
    background-color: $bg-btn;
    border-color: $border-btn;
  }
}

.error-field {
  width: 100%;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 0.9rem;
  color: $red-custom;
}

.ng-touched.ng-invalid:not(form)  {
  border: 1px solid $red-custom; /* red */
}

/*
  Table styles
 */
.table-responsive {
  &::-webkit-scrollbar{width:5px;height:8px}
  &::-webkit-scrollbar-thumb{background:#c6c3c3;border-radius:4px}
  &::-webkit-scrollbar-thumb:hover{background:#b3b3b3;box-shadow:0 0 2px 1px rgba(0,0,0,.2)}
  &::-webkit-scrollbar-thumb:active{background-color:#999}

  .table {
    margin-bottom: 0;
    border-radius: 1rem;
    border: 0px solid #ffffff;

    thead {
      background: $theme-color;
      //border-top-left-radius: 1rem;
      //border-top-right-radius: 1rem;

      tr {
        //border-top-left-radius: 1rem;
        //border-top-right-radius: 1rem;

        th {
          font-family: "Montserrat Bold", sans-serif;
          font-size: 1rem;
          color: $white;
          font-weight: normal;
          text-align: center;
          vertical-align: middle;

          //&:first-child {
          //  border-top-left-radius: 1rem;
          //}
          //
          //&:last-child {
          //  border-top-right-radius: 1rem;
          //}
        }
      }
    }

    tbody {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      tr {
        border: 1px solid #dee2e6;

        td {
          font-family: "Montserrat Regular", sans-serif;
          font-size: 1rem;
          vertical-align: middle;
          text-align: center;
          color: $gray;

          &:first-child {
            font-family: "Montserrat Bold", sans-serif;
          }
        }

        &:last-child {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
}


//.ng-valid[required], .ng-valid.required  {
//  border-left: 5px solid #42A948; /* green */
//}

//input.ng-pristine.ng-invalid {
//  -webkit-box-shadow: none;
//  -ms-box-shadow: none;
//  box-shadow:none;
//}
